@import "./fonts.css";
@import "./reset.css";

:root {
    --primary: #868686;
    --secondary: #D3A132;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}